<app-header-bodega></app-header-bodega>
<body>

    <div class="conteiner">
        <div class="card-header">
            <h2 class="h1 text-center">Productos</h2>
            <table class="table table-success table-striped">
                <thead>
                  <tr>
                    <th>Codigo_Producto</th>
                    <th>Cantidad Solicitada</th>
                    <th>Codigo sucurasal solitante</th>
                    <th>Estado</th>
                    <th></th>                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let producto of productoLista; let i= index">
                    <td>{{producto.codigo_producto}}</td>
                    <td> {{producto.cantidad_producto}}</td>
                    <td> {{producto.codigo_sucursal_destino}}</td>
                    <td> {{producto.estado}} </td>
                    <td>
                        <a  class="btn btn-success" (click)="aceptar(producto)" >Aceptar</a>
                        <a  class="btn btn-danger" (click)="rechazar(producto)" >Rechazar</a>
                      
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</body>
