<app-header-admin></app-header-admin>
<h1>Reportes</h1>
<div  class="container">
    <div id="divHijo" class="btn-group-vertical">
        <button type="submit" class="btn btn-success" (click)="reporte1()" >Top 10 productos más vendidos</button>
        <br>
        <button type="submit" class="btn btn-success" (click)="reporte2()" >Top 10 de clientes que más ganancias generan</button>
        <br>
        <button type="submit" class="btn btn-success" (click)="reporte3()" >Top 3 sucursales con más ventas</button>
        <br>
        <button type="submit" class="btn btn-success" (click)="reporte4()" >Top 3 sucursales con más ingresos</button>
        <br>
        <button type="submit" class="btn btn-success" (click)="reporte5()" >Top 3 empleados con más ventas</button>
        <br>
        <button type="submit" class="btn btn-success" (click)="reporte6()" >Top 3 empleados con más ingresos</button>
        <br>
        <button type="submit" class="btn btn-success" (click)="reporte7()" >Top 10 productos con más ingresos</button>
        <br>
        <button type="submit" class="btn btn-success" (click)="reporte8()">Top 5 productos más vendidos por sucursal</button>
        <br>
        <button type="submit" class="btn btn-success" (click)="reporte9()">Top 5 productos con más ingresos por sucursal</button>
        
    </div>
    
</div>
